<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166920629-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-166920629-3');
  </script>

  <script>
    // temporary until Heroku bug gets sorted out
    if (window.location.href.includes('heroku') && ! window.location.href.includes('-dev')) {
      window.location.replace('http://ec2-18-234-105-116.compute-1.amazonaws.com:5000/')
    }
  </script>

  <title>
    Contact Tracing AI - Tracking Demo
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"
    />
  <script
    type="application/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"
  >
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"
  >
  </script>
  <script>
    Dropzone.autoDiscover = false
  </script>

</head>

<style>

  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }

  #dropzone {
    margin-bottom: 20px;
  }

</style>

<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        Contact Tracing AI
      </a>
    </div>
  </div>

  <div class="ui main text container">
    <h1 class="ui header">
      Tracking Demo
    </h1>
    <ol>
      <li>
        Click <a href="/sample_video/cut.mp4" download>here</a> to download a sample video.
      </li>
      <li>
        Drag & drop the downloaded video into the rectangle below (or click on the rectangle to upload).
      </li>
      <li>
        Refresh the page every couple of minutes until processing has completed (takes around 2 minutes to process the sample video).
      </li>
    </ol>	

    <div id="dropzone">
      <form class="dropzone needsclick" id="file-upload" action="/upload">
        <div class="dz-message needsclick">
          Drop files here or click to upload.
        </div>
      </form>
    </div>

    {% if jobs %}
      <h3>Videos</h3>
      <p>Refresh the page to update.</p>
      <ul>
        {% for job in jobs %}
          <li>
            <ul>
              <li>
                filename: {{ job.filename }}
              </li>
              <li>
                current_step: {{ job.step }}
              </li>
              <li>
                is_finished: {{ job.is_finished }}
              </li>
              <li>
                result: {{ job.result }}
              </li>
              <li>
                {% if job.result %}
                <video width="320" height="240" controls>
                    <source src="/videos/{{ job.tracks_filename }}" type="video/mp4">
                </video>
                {% endif %}
              </li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui stackable inverted center aligned grid">
      <div class="twelve wide column">
        <p>
          <a href="//contacttracingai.com">
            www.ContactTracingAI.com
          </a>
        </p>

        <p>
          Made in Toronto by
          <a href="http://mldsai.com">
            MLDSAI
          </a>
        </p>
      </div>
    </div>
  </div>

  <script>

  var dropzone = new Dropzone('#file-upload', {
    url: '{{ url_for('upload') }}',
    paramName: "file", // The name that will be used to transfer the file
    acceptedFiles: 'video/*',
    success: function(file, response) {
      console.log('success, file:', file, 'response:', response)
      Turbolinks.visit(location.toString());
    },
    timeout: 120000,
    // TODO: chunking
    //chunking: true,
    //forceChunking: true,
    //url: '{{ url_for('upload') }}',
    maxFilesize: 1025, // megabytes
    //chunkSize: 1000000 // bytes
  });

  </script>

</body>
